.container {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
}

.p {
  color: white;
  margin: 20px 0;
}

.button {
  color: #000;
  background-color: #ffb742;
  height: fit-content;
  padding: 1em 1.25em;
  border-radius: 30px;
  border: none;
  font-weight: 900;
  font-size: medium;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  color: #ffb742;
  background-color: transparent;
  border: 3px solid #ffb742;
  box-sizing: border-box;
}
