.container {
  background-color: #292b2e;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 5px;
  margin-top: 1.5em;
}

.header {
  font-size: xx-large;
  font-weight: 900;
  color: #ffb742;
}

.text {
  font-weight: 900;
}

p {
  margin: 0;
}
