.container {
  display: flex;
  background-color: #000;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.nameContainer {
  width: 33%;
}

.name {
  color: #ffb742;
  margin: 0;
}

.occupation {
  color: #d4d4d4;
}

.listHeader {
  color: white;
}

.usefulLinks {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}

.link {
  text-decoration: inherit;
  color: #7b7b7b;
}

.logo {
  width: 33%;
}
